{% extends 'base.html' %}
{% load static %}

{% block contents %}
<!-- 아이콘/바로가기 모음 -->
<section>
    <div class="features">
        <article>
            <a href="." class="icon fa-gem"></a>
            <div class="content">
                <h3>바로가기 1</h3>
                <p>바로가기 페이지 설명</p>
            </div>
        </article>
        <article>
            <a href="." class="icon solid fa-paper-plane"></a>
            <div class="content">
                <h3>바로가기 2</h3>
                <p>바로가기 페이지 설명</p>
            </div>
        </article>
        <article>
            <a href="." class="icon solid fa-rocket"></a>
            <div class="content">
                <h3>바로가기 3</h3>
                <p>바로가기 페이지 설명</p>
            </div>
        </article>
        <article>
            <a href="." class="icon solid fa-signal"></a>
            <div class="content">
                <h3>바로가기 4</h3>
                <p>바로가기 페이지 설명</p>
            </div>
        </article>
    </div>
</section>

<!-- index 1위 모델 -->
<section id="banner">
    <div class="content">
        <header>
            <h1>금주의 1위</h1>
            <h3>모델명 불러오기</h3>
        </header>
        <p>모델 설명</p>
        <ul class="actions">
            <li><a href="#" class="button big">더 보기</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="{% static 'images/Nikon.jpeg' %}" alt="금주의 1위"/> <!-- 나중에 사진 바꿀 것 -->
    </span>
</section>

<!-- index 2위 ~ 7위 -->
<section>
    <div class="posts">
        <article>
            <a href="#" class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
            <h3>2위</h3>
            <p>제품 설명</p>
            <ul class="actions">
                <li><a href="#" class="button">더 보기</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
            <h3>3위</h3>
            <p>제품 설명</p>
            <ul class="actions">
                <li><a href="#" class="button">더 보기</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
            <h3>4위</h3>
            <p>제품 설명</p>
            <ul class="actions">
                <li><a href="#" class="button">더 보기</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
            <h3>5위</h3>
            <p>제품 설명</p>
            <ul class="actions">
                <li><a href="#" class="button">더 보기</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
            <h3>6위</h3>
            <p>제품 설명</p>
            <ul class="actions">
                <li><a href="#" class="button">더 보기</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
            <h3>7위</h3>
            <p>제품 설명</p>
            <ul class="actions">
                <li><a href="#" class="button">더 보기</a></li>
            </ul>
        </article>
    </div>
</section>
{% endblock %}
 <!-- 대형 이미지 나열
<section>
    <header class="major">
        <h2>Ante interdum</h2>
    </header>
    <div class="mini-posts">
        <article>
            <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
        </article>
        <article>
            <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
        </article>
    </div>
    <ul class="actions">
        <li><a href="#" class="button">More</a></li>
    </ul>
</section>  -->