{% extends 'base.html' %}
{% load static %}

{% block contents %}
<br>
<strong style="font-size: 25px;">상품</strong>&nbsp;&nbsp;&nbsp;Item
<hr>


{% for product_body in product_body %}

<div class="row" style="text-align: left;">
    <div class="col">
        <a href="#"><img src="{{ product_body.pic.url }}" width="250" height="250" alt="" /></a>
    </div>
    <div class="col" style="margin-left: 80px;">
        <br>
        <br>
        <h3>{{ product_body.pdname }}</h2>
            <strong>제조사 : {{ product_body.brand }}</strong>
            <br>
            <strong>가격 : {{ product_body.price }}원</strong>
            <br>
            <a href="{% url 'item_detail' product_body.pk %}">상세정보</a>
            <br>
            {% for star in star %}
            {% if star.pdname == product_body %}
            <strong>평점 : {{ star.star }}</strong>
            {% endif %}
            {% endfor %}
    </div>
</div>
<hr>

{% endfor %}


{% endblock %}