{% extends 'base.html' %}
{% load static %}
{% block contents %}
<br>
<strong style="font-size: 25px;">랭킹</strong>
<hr>

<div class="row">
    <div class="col">
        <h2>바디 순위</h2>
    </div>
    {% for result in result %}
        {% if result %}
            {% for body in body %}
                {% if body.id == result.pdname %}
    
    <div class="row" style="text-align: center;">
        <div class="col">
            <img src="{{ body.pic.url }}" alt="" width="100px" height="90px">
            <br>
            <a href="{% url 'item_detail' body.pk %}">상세정보</a>
            
            <span>순위 : {{ forloop.counter }}</span> 

            <span>평점 : {{ result.avg_stars }}</span>
            
        </div>
    </div>
    <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
{{result}}
<hr><hr>

<div class="row">
    <div class="col">
        <h2>렌즈 순위</h2>
    </div>
    {% for result in result %}
        {% if result %}
            {% for lens in lens %}
                {% if lens.id == result.pdname %}

    <div class="row" style="text-align: center;">
        <div class="col">
            <img src="{{ lens.pic.url }}" alt="" width="100px" height="90px">
            <br>
            <a href="{% url 'item_detail' lens.pk %}">상세정보</a>
            <span>순위 : {{ forloop.counter }}</span>
            <span>평점 : {{ result.avg_stars }}</span>
        </div>
    </div>
    <hr>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
</div>
{% endblock %}
