{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

	<style>
		body,
		div,
		header,
		a,
		ul,
		ol,
		li,
		section,
		nav,
		span,
		footer,
		a,
		strong,
		h1,
		h2,
		h3,
		p,
		article,
		input,
		button {
			font-family: 'Do Hyeon', sans-serif;
		}
	</style>
{% endblock %}

         {% block contents %}
             <div class="login-box">
                 <form action="{% url 'login' %}" method="POST">
                 {% csrf_token %}
                 <h1>Login</h1>     
                 {{ error }}            
                 <input type="text" name = 'username' placeholder="아이디">
                 <input type="password" name = 'password' placeholder="비밀번호">
                 <ul class="actions">
                     <li><input type ='submit' class="button primary" value = 'login'></li>
                     <li><a href="{% url 'signup' %}" class="button primary">회원가입</a></li>
                 </ul>
             </form>
             </div>
         {% endblock %}