{% extends 'base.html' %}
{% load static %}

{% block contents %}
<br>
<strong style="font-size: 25px;">구매상품</strong>
<hr>

<div id="main">
    <div class="subject">
        
        <div class="scrollable">
            <table>
              <thead>
                <tr>
                  <th>ORDER DATE</th>
                  <th>IMAGE</th>
                  <th>PRODUCT NAME</th>
                  <th>PRODUCT BRAND</th>
                  <th>PRICE</th>
            
                </tr>
              </thead>
              {% for item in item %}
              <tbody>
                <tr>
                  <td><a href="#"></a>{{ item.date }}</td>
                  <td><a href="#"><img src="{{ item.mypd.pic.url }}"  alt="dd" width="100px" height="90px"></a></td>
                  <td>{{ item.mypd.pdname }}</td>
                  <td>{{ item.mypd.brand }}</td>
                  <td>{{ item.mypd.price }}원</td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        
        </div>
        
    </div>
    <a href="{% url 'item_body' %}">상품 구경 가기</a>
    
</div>
{% endblock %}