{% extends 'base.html' %}
{% load static %}

{% block contents %}
<br>
<strong style="font-size: 25px;">구매상품</strong>
<hr>

<div id="main">
    <div class="subject">
        {% for item in item %}
        <div class = "article">
            <a href="#"><img src="{{ item.mypd.pic.url }}"  alt="dd" width="100px" height="90px"></a>
            제품명 : {{ item.mypd.pdname }}
            제품 브랜드명 : {{ item.mypd.brand }}
            제품 가격 : {{ item.mypd.price }}원

        </div>
        {% endfor %}
    </div>
    <a href="{% url 'item_body' %}">상품 구경 가기</a>
    
</div>
{% endblock %}