{% extends 'base.html' %}
{% load static %}

{% block contents %}
<br>
<strong style="font-size: 25px;">마이 페이지</strong>
<hr>

<div class="state">
    <ul class="order">
<li>
            <a href="#" class="count"><span id=""></span><strong>내 정보</strong></span></a>
            
        </li>
        <li>
            <a href="#" class="count"><span id=""><strong>내 리뷰</strong></span>
            
        </li>
        <li>
            <a href="#" class="count"><span id=""><strong>구매 상품</strong></span>
        </li>
        <li>
            <a href="#" class="count"><span id=""><strong>내 사진</strong></span>
        </li>
    </ul>
</div>
{% endblock %}